{% extends "Display/base.html"%}
{% block content %}
<div class="row">
    <div class="col-lg-5" style="margin: 20px;margin-left: 50px;text-align: center;">
            <h4 style="text-align: center;margin-right: 5px;font-family: Arial, Helvetica, sans-serif;"">Gabriele Ghisleni</h4>
            <img src="../../media/home_3.jpg" style="width: 450px;height: 400px;">
            <!--<img src="../../../media/foto_cv_5_2021.jpg" style="width: 450px;height: 400px;border-radius: 20px;">!-->
    </div>
    <div class="col-lg-5" style="margin:20px;margin-right:50px;text-align: center;">
      <h4 style="text-align: center;font-family: Arial, Helvetica, sans-serif;">Alessandra Pomella</h4>
        <img src="../../media/home_3.jpg" style="width: 450px;height: 400px;">
    </div>
  </class>
</div>
</div>
{% endblock content %}