{% extends "Display/base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-5" style="margin: 20px;margin-left: 50px;text-align: center;">
          <img src="../../../media/home_3.jpg" alt="Mountain" style='height:300px; width:500px;text-align: center'>
    </div>
    <div class="col-lg-5" style="margin:20px;margin-right:50px;text-align: center;">
    <div class="button" style="align-content: center;text-align: center;color: white!important;">
        <a href={% url 'register' %}>Subscribe</a>
    </div>
    </div>
</div>
{% endblock content %}