{% extends "Display/base.html" %}
{% block content %}
{% autoescape off %}
    <h2 style="font-family: 'Poppins', sans-serif;text-align: center;margin:30px;"><strong>Renewable Generation Distributions</strong></h2>
<div class="row" style="margin-top: 20px;text-align: center;align-content: center;justify-content: center" >
    {{ plot_div }}
</div>
    <h2 style="font-family: 'Poppins', sans-serif;text-align: center;margin:45px;"><strong>Load Distributions</strong></h2>
<div class="row" style="margin-top: 20px;text-align: center;align-content: center;justify-content: center" >
    {{ plot_load }}
</div>
{% endautoescape %}
{% endblock content %}
